<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<md-content layout="column" layout-fill ng-cloak>
    <div class="container card">
        <div class="row">
            <main role="main" id="wb-cont" property="mainContentOfPage" class="container">      
                <div id="content-container" class="container">
                    <div id="content" role="main">
                        <div class="row">
                            <div>
                                <h1><strong>{{pageElements.titleMain}}</strong></h1>
                                <p><strong></strong></p>

                                <p>{{pageElements.paragraph1}}</p>

                                <div class="row">
                                    <div class="col-33">
                                        <label class ="labelLeft" for="lname">{{pageElements.textInput1}}</label>                   
                                        <input type="text" id="fname" name="lastname" placeholder="Type stuff here">
                                    </div>
                                </div>

                                <div class="row">       
                                    <div>
                                        <a class="btn btn-primary col-25" href="#/Page1">{{pageElements.button1}}</a>
                                    </div>
                                </div>
                                <p>
                                    The above button links to page1 using app.js found in /js/app.js. 
                                </p>
                                
                            </div>    
                        </div>                    
                    </div>
                </div>
            </main>
        </div>
    </div>
</md-content>

