<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.s
-->
<div class="container">
    <div class="row">
        <main role="main" id="wb-cont" property="mainContentOfPage" class="container">
            <div id="content-container" class="container">
                <div id="content" role="main">
                    <h1><strong>{{pageElements.titleMain}}</strong></h1>
                    <div class="page-content">
                        <p>{{pageElements.paragraph1}}</p>	
			<div class="row">
                            <div class="col-md-6">
				<form action="link goes here" method="post">
                                    <input name="__RequestVerificationToken" type="hidden" value="CbumSrphO9YOtuCRCO4NTOfygaHROpXKHQV30eLWNCWwzVw5MSU_-7hpUUPm0To7gGFcjHoovDggs3-Q-1h5Ommpabs1" />
                                    <div class="form-horizontal">
                                        <fieldset>
                                            						
                                            <div class="form-group">
						<label class="col-sm-4 control-label" for="Email">{{pageElements.email}}</label>
                                                    <div class="col-sm-8">
							<input class="form-control" data-val="true" data-val-email="The&#32;Email&#32;field&#32;is&#32;not&#32;a&#32;valid&#32;e-mail&#32;address." id="Email" name="Email" type="text" value="" />
                                                    </div>
                                            </div>
			
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="Password">{{pageElements.password}}</label>
                                                    <div class="col-sm-8">
                                                        <input autocomplete="off" class="form-control" data-val="true" data-val-required="The&#32;Password&#32;field&#32;is&#32;required." id="Password" name="Password" type="password" />
                                                    </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <div class="col-sm-offset-4 col-sm-8">
                                                    <a class="btn btn-default pull-right" href="Account/Login/ForgotPassword.html">Forgot your password?</a>
                                                    <button id="submit-signin-local" class="btn btn-primary">Sign in</button>
						</div>
                                            </div>
					</fieldset>
                                    </div>
				</form>
                            </div>
			</div>
                    </div>
		</div>
            </div>
            
            <dl id="wb-dtmd">
                
            </dl>
	</main>
    </div>
</div>
